*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Page{
    background-color: #5c4734;
    background-size: cover;
    color: white;
    min-height: 80vh;
}

img{
    height: 420px;
    width: 500px;
}
h2{
    font-size: 30px;
    text-align: center;
    padding: 40px;
}
.child h3{
    font-size: 20px;
    color: black;
    display: inline;
}
.Detail{
    display: flex;
}
span{
    font-size: 15px;
}

.child{

    width: 33%;
    margin: 90px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.Button{
    text-decoration: none;
    height: 30px;
    width: 500px;
    margin-top: 10px;
    background-color: black;
}
.ButtonComment{
    position: relative;
    bottom: 18px;
    margin-left: 20px;
    height: 30px;
    width: 60px;
    background-color: black;
    color: white;
}
.ButtonDelete{
    margin-left: 10px;
    height: 22px;
    width: 50px;
    background-color: black;
    color: white;
}
.ButtonState{
    margin: 8px 8px 0px 0px;
    height: 30px;
    width: 60px;
    background-color: black;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.childbook{
    width: 100%;
    margin: 90px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.childbook h3{
    font-size: 20px;
    color: black;
    display: inline;
}